#mapid{ 
    position:fixed;
    width:100%;
    height: 50%; 
    top:0;
    left:0;
    z-index:0;
}
.container{
    padding-left:6vw;
    padding-right:6vw;
    position:absolute;
    top:50%;
    z-index:1;
    background-color:#fcfcfc;
    width:100%;
}
.title{
    margin-left:12px;
    padding-top:3vh;
    margin-bottom:-6vh;
    font-family: 'Bungee Shade', cursive;
    font-size:5vw;
    display:inline-block;
}
#newline.title{
    display:block;
}
#subtitle.title{
    display:block;
    margin-top:4vh;
    margin-bottom:5vh;
    font-size:4vw;
}

.highlight{
    position:relative;
    top:-2vw;
    height:2vh;
    background-color:#ffe301;
    z-index:-1;
}

body>.highlight{
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
    height:2vh;
    opacity:0.6;
}

@media (max-width: 993px) {
.title{
    font-size:4em;
}
#subtitle.title{
    font-size:2em;
}
.highlight{
    top:-20px;
}
}

@media (max-width: 400px) {
.title{
    font-size:3em;
}
#subtitle.title{
    font-size:25px;
    margin-bottom:-5px;
}
.highlight{
    top:-20px;
}
p{
    font-size:20px;
}
}

@media (min-width: 1920px) {
.title{
    font-size:7em;
}
#subtitle.title{
    font-size:5em;
}
.highlight{
    top:-40px;
}
}


.content{
    font-family: sans-serif;
    font-size:1.5em;
}

.content>p{
    padding-bottom:20px;
}

.timeline {
  list-style: none;
  padding: 0px 0 33px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 12.6em;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #000000;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li > .timeline-badge {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;  
  left: 50%;
  margin-left: -25px;
  z-index: 100;
}


hr{
  border-top: 4px solid #000000;
  width:70%;
}
hr.endpoint{
    width:100%;
}
.label{
    color:#000000;
    position:absolute;
    top:10px;
    font-family: 'Raleway', sans-serif;
    font-size:0.9em;
    word-break:break-words;
    white-space:normal;
}

.leftlabel{
    width:5vw;
    right:5vw;
}

.rightlabel{
    left:5vw;
    width:10vw;
}

.timeline>li{
    margin-bottom:120px;  
}